{%extends "layout.html"%}
{%block content%}
	<div class="home">

		<h1> home page</h1>
		<u><h2><font color=<"#1740CD">PERSONAL DETAILS</font></h2></u>
		<b>Name</b> : <abbr title="Kirielle Pathirennehelage Yasiru Vinod Pathirana">K.P.Y.V. Pathirana </abbr><br />
		<b>Date of Birth</b> : December 01,1997<br />
		<b>Address</b> : 272/3, Dewala Road, Batakaththara, Piliyandala<br />
		<b>Age</b> : 21 <br />
		<b>Marital Status</b> : Single<br />
		<b>E-mail</b> : yasiruvinodpathirana@gmail.com<br />
		<b>Mobile</b> : 0716840864<br />
		<u><h2><font color=<"#1740CD">ACADEMIC DETAILS</font></h2></u>
		<b>University</b> : University of Colombo<br />
		<b>Digree program</b> : Industrial statistics and mathematical finance<br />
		<b>Level</b> : 2<sup>nd</sup> Level<br />
		<b>Current GPA</b> : 3.45<br />
		
		<u><h2><font color=<"#1740CD">ACTIVITIES</font></h2></u>
		
			A member of <i>The Life Saving Association of Sri Lanka.</i><br />
			A member of <i>School Football Association of Sri Lanka.</i><br />
			A winner of <i>Inter School Sports Meet (Swimming, Football, Wushu).</i><br />
			A member of <i>University Taekwondo Association</i><br />
			<Team Head of <i>Adipaara Nature Lover Group.</i><br />
			A member of <i>St. John first Aid Cadets</i><br />
			Mountain Climber, Hiker and Adventure Explorer.<br />
	</div>
{%endblock%}