<html>
	<head>
		<title>specs</title>
	</head>
	<body>
	<h1><a name="head">Head</a></h1>
		<p>The head of a gorilla is massive, with a bulging forehead overhanging the eyes and a bony sagittal crest on top (high-domed head). The sagittal crest (especially noticeable in males) supports the large temporal muscles needed to grind coarse vegetation.</p>
		<table>
			<tr>
			<td><img src="{{url_for('static',filename='images/head1.jpg')}}" ></td>
			<td><img src="{{url_for('static',filename='images/head2.jpg')}}" ></td>
			</tr>
		</table>
		<a href="{{url_for('home')}}">home</a>
	<h1><a name="arms">Arms</a></h1>
		<p>Gorillas have larger muscles in their arms than in their legs (the opposite is true for humans). This is primarily due to the fact that they use their increased arm strength for bending and gathering foliage and for defense. Although capable of walking upright on two feet they most often walk as a quadruped (on four limbs).</p>
		<p>Gorillas' arms are much longer than their legs and their arm span is about 30 cm (1 ft.) longer than that of an adult human male. The elongated arms indicate a tree-dwelling ancestry even though gorillas are now primarily terrestrial (ground-dwelling).</p>
		<p>An adult gorilla's upper body strength is six times more powerful than that of an adult human — enabling them to lift, break, and squeeze heavy objects.</p>
		<table>
			<tr>
			<td><img src="{{url_for('static',filename='images/hands1.jpg')}}" ></td>
			<td><img src="{{url_for('static',filename='images/hand2.jpg')}}" ></td>
			</tr>
		</table>
		<a href="{{url_for('home')}}">home</a>
	</body>
</html>
